:root{
  --color-dark: black;
  --color-light: #FFF;
  --border: 2px solid black;
  --radius: 35px;
}

html, body{
  margin: 0;
  padding: 0;
  /* overscroll-behavior-y: none;
  overflow: hidden; */
}

html{
  font-family: 'ClashDisplay-Variable', Arial, Helvetica, sans-serif;
  background-color: var(--color-light);
  color: var(--color-dark);
  font-size: 20px;
}

body{
  margin: 0;
  padding: 35px 40px 40px 40px;
}

@font-face {
  font-family: 'ClashDisplay-Variable';
  src: url('/fonts/ClashDisplay-Variable.woff2') format('woff2'),
       url('/fonts/ClashDisplay-Variable.woff') format('woff'),
       url('/fonts/ClashDisplay-Variable.ttf') format('truetype');
       font-weight: 200 700;
       font-display: swap;
       font-style: normal;
}

/* cursor */
#cursor{
  height: 20px;
  width: 20px;
  background: transparent;
  border: 2px solid var(--color-dark);
  margin: -1px 0 0 -1px;
  position: fixed;
  pointer-events: none;
  /* mix-blend-mode: difference; */
  z-index: 50;
  border-radius: 50%;
  transition: .5s background;
  opacity: 0;
}

#cursor.active{
  opacity: 1;
}

#cursor.false{
  background: #EB6042;
  border-color: #EB6042;
  animation: wiggle .2s ease-in-out 5;
}

#cursor.correct{
  background: #88E866;
  border-color: #88E866;
  transform: scale(1.5);
  animation: none;
}

@keyframes wiggle {
  0%{
    transform: translate(0, 0);
  }
  33% {
    transform: translate(5px, 0);
  }
  66% {
    transform: translate(-5px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
