/* general */
a{
  text-decoration: none;
  color: var(--color-dark);
}

.btn{
  padding: 8px 35px;
  background: var(--color-dark);
  color: var(--color-light);
  border-radius: 50px;
  display: flex;
}

.btn.light{
  background: transparent;
  color: var(--color-dark);
  border: var(--border);
  padding: 5px 35px;
}

.btn.icon{
  padding: 0 25px;
  display: flex;
  justify-content: center;
}

.btn.icon>img{
  height: 35px;
  width: auto;
}

.btn.hidden{
  display: none;
}

.btn:hover,
.btn *:hover{
  cursor: pointer;
}

/* fonts */
h1{
  font-weight: 450;
  font-size: 6rem;
  margin: 0;
}

p{
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0;
}

/* header */
header{
  display: flex;
  justify-content: space-between;
  height: 75px;
  margin-bottom: 40px;
}

.logo{
  max-height: 100%;
  width: auto;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35vw;
}

/* cursor */
#cursor{
  height: 20px;
  width: 20px;
  background: transparent;
  border: 2px solid var(--color-dark);
  margin: -1px 0 0 -1px;
  position: fixed;
  pointer-events: none;
  /* mix-blend-mode: difference; */
  z-index: 5;
  border-radius: 50%;
  transition: .5s background;
  opacity: 1;
}

#cursor.inactive{
  opacity: 0;
}

#cursor.false{
  background: red;
  border-color: red;
  animation: wiggle .2s ease-in-out 5;
}

@keyframes wiggle {
  0%{
    transform: translate(0, 0);
  }
  33% {
    transform: translate(5px, 0);
  }
  66% {
    transform: translate(-5px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* iframe logo overlay */

.wrapper-models>div,
.wrapper-side>.model{
  position: relative;
}

.wrapper-models>div::after,
.wrapper-side>.model::after{
  content: '';
  height: 15px;
  width: 15px;
  position: absolute;
  right: 6px;
  bottom: 6px;
  background: var(--color-light);
  border-radius: 50%;
}

.wrapper-side>.model::after{
  height: 40px;
  width: 40px;
  right: 11px;
  bottom: 11px;
}

/* main */
main{
  background: var(--color-dark);
  /* height - padding-top - header - header margin-bottom - padding-bottom */
  height: calc(100vh - 35px - 75px - 40px - 40px);
}

.wrapper-inner{
  height: calc(100% - 4px);
  background: var(--color-light);
  border: var(--border);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single .wrapper-inner{
  flex-direction: row;
  background-color: var(--color-dark);
}

/* home */
.title-wrapper{
  text-align: center;
  margin: 5vh 0;
}

.wrapper-models{
  display: flex;
}

.wrapper-models>div{
  height: 200px;
  width: 200px;
  margin: 0 5vw;
}

.wrapper-models>div>iframe{
  height: 500px;
  width: 500px;
  transform: scale(.4);
  transform-origin: left top;
}

.res-overlay{
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background: var(--color-dark);
  z-index: 88;
}

.res-overlay::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: var(--border);
  border-radius: var(--radius);
  background: var(--color-light);
  height: calc(100vh - 4px);
  width: calc(100vw - 4px);
}

.res-overlay>span{
  z-index: 99;
}

@media only screen and (max-width: 1200px){
  .res-overlay{
    display: flex;
  }
}
